<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="content-type" content="text/html" charset="utf-8" />
    <title>Nouveau Steam</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../MainPage.css">
</head>

<body>

<h1>Nouveau Steam</h1>

<a href="/magasin">Magasin</a>

<h1>Steam Like</h1>

<p>Bienvenue !</p>

</body>
</html>