{% extends 'base.html.twig' %}

{% block title %}New Game{% endblock %}

{% block body %}
    <div class="mx-auto pt-5"></div>

    {{ include('games/_form.html.twig', {'header': 'Adding a game','button_label': 'Upload', 'canDelete': false}) }}

{% endblock %}
