{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block title %} Error 404 {% endblock %}

{% block body %}
    <div class="d-flex justify-content-center align-items-center mt-5">
        <h1>Oops ! You're are lost. 😢</h1>
    </div>
{% endblock %}