{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block title %} Steam ! {% endblock %}
{% block p %}<p>Hello World ! from index.html.twig</p>{% endblock %}

{% block body %}
    {% if not empty %}
        {% for game in games %}
            <ul>
                <li>{{game.name}}</li>
                <li>{{ game.category }}</li>
                <li>{{ game.description }}</li>
            </ul>

        {% endfor %}
    {% else %}
        <h4>Sorry, no game stored :(</h4>
    {% endif %}



{% endblock %}