{% extends 'base.html.twig' %}

{% block title %}Edit Users{% endblock %}

{% block body %}
<div class="mx-auto pt-5"></div>

    {{ include('users/_form.html.twig', {'header': 'Update your info','button_label': 'Update', 'canDelete': true}) }}

{% endblock %}
